standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_replication_master_ip }} port=5432 user={{ postgresql_users_replication.0.user }} password={{ postgresql_users_replication.0.password }}'
trigger_file = '/tmp/postgresql.trigger'

